{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Account List" "registration:accounts_page" %}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2 class="h2">登録アカウント一覧</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th>ユーザ名</th>
                            <th>メールアドレス</th>
                            <th>表示名</th>
                            <th>アカウント状態</th>
                            <th colspan="2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in accounts %}
                        <tr>
                            <td scope="row">{{ target.id }}</td>
                            <td>{{ target.username }}</td>
                            <td>{{ target.email }}</td>
                            {% if target.viewname %}
                            <td>{{ target.viewname }}</td>
                            {% else %}
                            <td>-（未登録）</td>
                            {% endif %}
                            {% if target.is_active %}
                            <td>有効</td>
                            <td>
                                <form method="post" action="{% url 'registration:update_user_status' target.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary btn-md btn-block">無効化</button>
                                </form>
                            </td>
                            <td><button type="button" class="btn btn-outline-light btn-md btn-block" disabled>　　</button></td>
                            {% else %}
                            <td>無効</td>
                            <td>
                                <form method="post" action="{% url 'registration:update_user_status' target.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-md btn-block">有効化</button>
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block delete-modal-button" data-deleteusername="{{ target.username }}" data-deleteurl="{% url 'registration:delete_user_page' target.pk %}">削除</button>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination">
                    {# before #}
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {# number #}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                            {% if page_obj.number == num %}
                            <span>{{ num }}</span>
                            {% else %}
                            <a href="?page={{ num }}">{{ num }}</a>
                            {% endif%}
                        {% endif %}
                    {% endfor %}

                    {# next #}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">削除の確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>あなたのアカウント「@<span id="target-username"></span>」を本当に削除してもよろしいですか？</p>
                <p><font color="red">この操作はやり直せません</font></p>
            </div>
            <div class="modal-footer">
                <form action="" method="POST" id="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">本当に削除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block bodyjs %}
<script>
(function() {
    const deleteForm = document.getElementById('delete-form');
    const deleteModalButtons = document.getElementsByClassName('delete-modal-button');

    for (const button of deleteModalButtons) {
        button.addEventListener('click', () => {
            deleteForm.action = button.dataset.deleteurl;
            $('#target-username').text(button.dataset.deleteusername);

            $('#modal').modal({
                backdrop: true,
                keyboard: true,
            });
        });
    }
}());
</script>
{% endblock %}
