{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <p>本登録が完了いたしました。</p>
        <p>登録時のユーザ名とパスワードでログインしてください。</p>
        <p>3秒後にログインページにリダイレクトします。</p>
        <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'registration:login' %}">ログイン</a></p>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
<script>
(function(){
    setTimeout(() => {
        window.location.href = "{% url 'registration:login' %}";
    }, 3000);
}());
</script>
{% endblock %}
