{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    {% if user.is_staff %}
    <div class="col-12">
        <div class="row">
            <div class="col-12">
            {% if user.viewname %}
                <h2 class="h2">ようこそ！{{ user.viewname }}さん</h2>
            {% else %}
                <h2 class="h2">ようこそ！{{ user.username }}さん</h2>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3 class="h3">リンク一覧</h3>
                <table class="table table-striped">
                    <thead>
                        <tr><th scope="col">リンク</th></tr>
                    </thead>
                    <tbody>
                        <tr><td scope="row">
                            <a href="/admin">Admin管理サイト</a>
                        </td></tr>
                        <tr><td scope="row">
                            <a href="{% url 'registration:accounts_page' %}">登録アカウント一覧</a>
                        </td></tr>
                        <tr><td scope="row">
                            <a href="{% url 'smarthome:index' %}">Smart Home トップページ</a>
                        </td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        {% if user.is_authenticated  %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                {% if user.viewname %}
                    <h2 class="h2">ようこそ！{{ user.viewname }}さん</h2>
                {% else %}
                    <h2 class="h2">ようこそ！{{ user.username }}さん</h2>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">サービス</th>
                                <th>リンク</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">SNS</td>
                                <td>
                                    <a href="{% url 'sns:time_line' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Blog</td>
                                <td>
                                    <a href="{% url 'blog:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Storage</td>
                                <td>
                                    <a href="{% url 'storage:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Chat</td>
                                <td>
                                    <a href="{% url 'chat:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Deep Learning Tutorial</td>
                                <td>
                                    <a href="{% url 'deep_learning:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h5 class="h5">アカウントを所持している方は、上のリンクからログインしてください。</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">項目</th>
                                <th>リンク</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">深層学習入門</td>
                                <td>
                                    <a href="{% url 'deep_learning:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                        Let's go!
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
