{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    {% if user.is_staff %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                {% if user.viewname %}
                    <h2 class="h2">ようこそ！{{ user.viewname }}さん</h2>
                {% else %}
                    <h2 class="h2">ようこそ！{{ user.username }}さん</h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card-columns">
                <div class="card">
                    <div class="card-header">Admin 管理サイト</div>
                    <div class="card-body">
                        <a href="/admin" class="btn btn-link btn-block" target="_self">Admin 管理サイト</a>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="card">
                    <div class="card-header">登録アカウント一覧</div>
                    <div class="card-body">
                        <a href="{% url 'registration:accounts_page' %}" class="btn btn-link btn-block" target="_self">登録アカウント一覧</a>
                    </div>
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">Smart Home トップページ</div>
                    <div class="card-body">
                        <a href="{% url 'smarthome:index' %}" class="btn btn-link btn-block" target="_self">Smart Home トップページ</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if user.is_authenticated  %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                {% if user.viewname %}
                    <h2 class="h2">ようこそ！{{ user.viewname }}さん</h2>
                {% else %}
                    <h2 class="h2">ようこそ！{{ user.username }}さん</h2>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-header">SNS</div>
                            <div class="card-body">
                                <a href="{% url 'sns:time_line' %}" class="btn btn-link btn-block" target="_self">SNS</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Blog</div>
                            <div class="card-body">
                                <a href="{% url 'blog:index' %}" class="btn btn-link btn-block" target="_self">Blog</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Storage</div>
                            <div class="card-body">
                                <a href="{% url 'storage:index' %}" class="btn btn-link btn-block" target="_self">Storage</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Chat</div>
                            <div class="card-body">
                                <a href="{% url 'chat:index' %}" class="btn btn-link btn-block" target="_self">Chat</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Deep Learning Tutorial</div>
                            <div class="card-body">
                                <a href="{% url 'deep_learning:index' %}" class="btn btn-link btn-block" target="_self">Deep Learning Tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h5 class="h5">アカウントを所持している方は、上のリンクからログインしてください。</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">深層学習入門</div>
                        <div class="card-body">
                            <a href="{% url 'deep_learning:index' %}" class="btn btn-link btn-block" target="_self">深層学習入門</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
