{% extends 'storage/breadcrumbs_storage.html' %}

{% block header %}
<style>
    ul {
        list-style: none;
    }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated  %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">絞り込み検索</h5>
                <form action="", method="GET">
                    <div class="form-row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <div class="row">
                                <div class="col-12">
                                    {{ search_form.search_word }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary btn-block">検索</button>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'storage:index' %}" class="btn btn-secondary btn-block">全件表示</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ファイルアップロード</h5>
                <form action="{% url 'storage:upload' %}", method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if upload_form.errors %}
                    <div class="row">
                        <div class="col-12">
                            <ul>
                            {% for errors in upload_form.errors.values %}
                                {% for error in errors %}
                                <li><font color="red">{{ error }}</font></li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <div class="custom-file">
                                {{ upload_form.file }}
                                <label class="custom-file-label" for="{{ upload_form.file.auto_id }}">ファイルを選択</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <button type="submit" class="btn btn-success btn-block">アップロード</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">アップロードしたファイル一覧</h5>
                {% for file in files %}
                {% if file.user.pk == user.pk %}
                    <div class="row">
                        <div class="col-8">
                            <ul>
                                <li>{{ file.filename }}</li>
                                <li><time datetime="{{ file.created_at|date:'Y-m-d' }}"><font color="gray">作成：{{ file.created_at|date:'Y/m/d H:i:s' }}</font></time></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <div class="dropdown mt-2">
                                <a class="btn btn-outline-secondary btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <button type="button" class="dropdown-item clip" data-clipboard-text="{{ file.file.url }}">
                                        リンクのコピー
                                    </button>
                                    <button type="button" class="dropdown-item update-filename-modal-button" data-updatefilenameurl="{% url 'storage:update_filename' file.pk %}">
                                        ファイル名の更新
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ file.file.url }}" target="_blank">開く</a>
                                    <a class="dropdown-item" href="{{ file.file.url }}" download="{{ file.filename }}">ダウンロード</a>
                                    <div class="dropdown-divider"></div>
                                    <button type="button" class="dropdown-item delete-modal-button" data-filename="{{ file.filename }}" data-deleteurl="{% url 'storage:delete' file.pk %}">
                                        <font color="red">削除</font>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% empty %}
                    <p>表示可能なファイルがありません。</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if files %}
<div class="row justify-content-center mt-1">
    <div class="col-12">
{% include "pagination.html" %}
    </div>
</div>

{# toastの処理 #}
<div id="toast-success" class="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="1000" style="position: absolute; top: 1rem; right: 1rem;">
    <div class="toast-header bg-info text-white">
        <strong class="mr-auto">ClipboardJS</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-info text-white">
        クリップボードにコピーしました
    </div>
</div>
<div id="toast-failed" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000" style="position: absolute; top: 1rem; right: 1rem;">
    <div class="toast-header bg-danger text-white">
        <strong class="mr-auto">ClipboardJS</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-danger text-white">
        クリップボードへのコピーに失敗しました
    </div>
</div>

{# modalの処理 #}
<div class="modal" tabindex="-1" role="dialog" id="update-filename-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ファイル名の更新</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="update-filename-form">
                    {% csrf_token %}
                    {{ update_filename_form }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="update-filename-form">ファイル名の更新</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="delete-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">削除の確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>「<span id="target-filename"></span>」を本当に削除してもよろしいですか？</p>
                <p><font color="red">この操作はやり直せません</font></p>
            </div>
            <div class="modal-footer">
                <form action="" method="POST" id="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">本当に削除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<div class="row justify-content-center">
    <div class="col-12">
        ログイン後にファイル一覧が表示されます。
    </div>
</div>
{% endif %}
{% endblock %}

{% block bodyjs %}
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script>
(function() {
    let clipboard = new ClipboardJS('.clip');
    // 成功時の処理
    clipboard.on('success', (e) => {
        $('#toast-success').toast('show');
        // テキスト選択状態を解除
        e.clearSelection();
    });
    // エラー時の処理
    clipboard.on('error', (e) => {
        $('#toast-failed').toast('show');
    });

    $('.custom-file-input').on('change', function () {
        const fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });

    // for update filename button
    const updateFilenameForm = document.getElementById('update-filename-form');
    const updateFilenameModalButtons = document.getElementsByClassName('update-filename-modal-button');

    for (const button of updateFilenameModalButtons) {
        button.addEventListener('click', () => {
            updateFilenameForm.action = button.dataset.updatefilenameurl;

            $('#update-filename-modal').modal({
                backdrop: false,
                keyboard: true,
            });
        });
    }

    // for delete button
    const deleteForm = document.getElementById('delete-form');
    const deleteModalButtons = document.getElementsByClassName('delete-modal-button');

    for (const button of deleteModalButtons) {
        button.addEventListener('click', () => {
            deleteForm.action = button.dataset.deleteurl;
            $('#target-filename').text(button.dataset.filename);

            $('#delete-modal').modal({
                backdrop: true,
                keyboard: true,
            });
        });
    }
}());
</script>
{% endblock %}
