Django==3.1.8
pytz==2021.1
sqlparse==0.3.0
mysqlclient==2.0.3
requests==2.25.1
markdown==3.3.4
pymdown-extensions==8.1.1
uWSGI==2.0.19.1
channels-redis==3.2.0
asgiref==3.3.1
channels==3.0.3
daphne==3.0.1
redis==3.5.3
django-import-export==2.5.0
django-filter==2.4.0
django-structlog==2.1.0
django-axes==5.13.0
django-bootstrap-breadcrumbs==0.9.2
django-cleanup==5.1.0
