{% extends 'blog/breadcrumbs_blog.html' %}
{% load static %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/custom_checkbox.css' %}">
<script src="{% static 'js/blog_search_helper.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated  %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">絞り込み検索</h5>
                <form action="", method="GET">
                    <div class="form-row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    {{ search_form.search_word }}
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    {{ search_form.tags }}
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">検索</button>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    <a href="{% url 'blog:index' %}" class="btn btn-secondary btn-block">全件表示</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href="{% url 'blog:tag_create' %}" class="btn btn-primary btn-block">タグ作成</a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'blog:post_create' %}" class="btn btn-success btn-block">記事を書く</a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'blog:own_tag' user.pk %}" class="btn btn-warning btn-block">作成したタグ一覧</a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'blog:own_post' user.pk %}" class="btn btn-info btn-block">作成した記事一覧</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <section>
        {% if search_form.cleaned_data.tags %}
            <p class="tags" id="select-tags">
                選択しているタグ：
                {% for tag in search_form.cleaned_data.tags %}
                <span class="tag" data-pk="{{ tag.pk }}">{{ tag.name }}</span>
                {% endfor %}
            </p>
        {% endif %}
        {% for post in posts %}
            {% if post.is_public or post.user.pk == user.pk %}
            <article>
                <h2 class="h2 mt-1"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.description }}</p>
                <div>
                    {% if post.user.viewname %}
                    <span>{{ post.user.viewname }} <font color="gray">@{{ post.user.username }}</font> 作成</span>
                    {% else %}
                    <span>{{ post.user.username }} 作成</span>
                    {% endif %}
                    <time datetime="{{ post.updated_at|date:'Y-m-d' }}">（{{ post.updated_at|naturaltime }}に更新）</time>
                    {% for tag in post.tags.all %}
                    <span class="tag" data-pk="{{ tag.pk }}">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </article>
            {% endif %}
        {% empty %}
            <article>
                <p>表示できる記事がありません。</p>
            </article>
        {% endfor %}
        </section>
    </div>
</div>
{% if posts %}
<div class="row justify-content-center">
    <div class="col-12">
{% include "pagination.html" %}
    </div>
</div>
{% endif %}
{% else %}
<div class="row justify-content-center">
    <div class="col-12">
        ログイン後にブログ一覧が表示されます。
    </div>
</div>
{% endif %}
{% endblock %}
