{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_extras %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/custom_checkbox.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated  %}
<div class="row justify-content-center">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">絞り込み検索</h5>
                <form action="", method="GET">
                    <div class="form-row">
                        <div class="col-10">
                            {{ search_form.search_word }}
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary btn-block">検索</button>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col-12">
                            {{ search_form.tags }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">記事作成</h5>
                <a href="{% url 'blog:tag_create' %}" class="btn btn-info btn-block">タグ作成</a>
                <a href="{% url 'blog:post_create' %}" class="btn btn-success btn-block">記事を書く</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <section>
        {% for post in posts %}
            {% if post.is_public or post.user.pk == user.pk %}
            <article>
                <div class="row">
                    <div class="col-8">
                        <h2 class="h2 mt-1"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                    </div>
                    {% ifequal post.user.pk user.pk %}
                    <div class="col-2">
                        <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-success btn-block">編集</a>
                    </div>
                    <div class="col-2">
                        削除
                    </div>
                    {% else %}
                    <div class="col-4">-</div>
                    {% endifequal %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ post.description }}</p>
                        <div>
                            <time datetime="{{ post.updated_at|date:'Y-m-d' }}">{{ post.updated_at|naturaltime }}に更新</time>
                            {% for tag in post.tags.all %}
                            <span data-pk="{{ tag.pk }}">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
            {% endif %}
        {% empty %}
            <article>
                <p>まだ記事がありません。</p>
            </article>
        {% endfor %}
        </section>
    </div>
</div>
{% if posts %}
<div class="row justify-content-center">
    <div class="col-12">
        <ul class="pagination">
        {# before #}
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {# number #}
        {% for num in page_obj.paginator.page_range %}
            {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
                {% if page_obj.number == num %}
                <span>{{ num }}</span>
                {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif%}
            {% endif %}
        {% endfor %}

        {# next #}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
{% endif %}
{% else %}
<div class="row justify-content-center">
    <div class="col-12">
        ログイン後にブログ一覧が表示されます。
    </div>
</div>
{% endif %}
{% endblock %}
